# ============================================================
# ARCHIVO DE EJEMPLO DE VARIABLES DE ENTORNO (.env)
# ============================================================
# Instrucciones para Gustavo (DevOps/Docker):
# 1. Copiar este archivo y renombrarlo a ".env"
# 2. Reemplazar los valores de ejemplo con las credenciales reales
# ============================================================

# ==========================================
# 1. BASE DE DATOS (MariaDB)
# ==========================================
# Host: Si está en Docker, poner el nombre del contenedor (ej: 'mariadb-server'). Si es local, 'localhost'.
DB_HOST=localhost
# Puerto: Por defecto MariaDB usa el 3306
DB_PORT=3306
# Usuario maestro de la base de datos
DB_USER=root
# Contraseña del usuario (Definida en el docker-compose)
DB_PASSWORD=root
# Nombre de la base de datos que usará el sistema
DB_NAME=Sistema_Tickets

# ==========================================
# 2. SEGURIDAD Y SESIONES (JWT)
# ==========================================
# Llave secreta para encriptar las sesiones de los usuarios. 
# Inventar un string largo y seguro (Ej: tk_sys_prod_998877)
JWT_SECRET=inventar_un_secreto_seguro_aqui

# ==========================================
# 3. NOTIFICACIONES POR CORREO (Google API)
# ==========================================
# Credenciales para que el sistema envíe alertas automáticas.
# Correo remitente
EMAIL_USER=soporte@tuempresa.com
# Contraseña de aplicación (Si se usa SMTP básico)
EMAIL_PASS=abcd_efgh_ijkl_mnop

# Credenciales OAuth2 (Requerido por Google Auth Library)
CLIENT_ID=tu_client_id_de_google_cloud
CLIENT_SECRET=tu_client_secret_de_google_cloud
REFRESH_TOKEN=tu_refresh_token_generado
REDIRECT_URI=https://developers.google.com/oauthplayground

# ==========================================
# 4. LEVANTAR BACKEND
# ==========================================

VITE_URL_BACKEND=url_local_backend
VITE_URL_API=ejemplo_http://localhost:3000/api